<!DOCTYPE html>

<html lang="es">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curriculum - Indice</title>

        <link rel="stylesheet" type="text/css" href="../static/css/principal.css">

    </head>

    <!-- The very body itself is divided in TITLE, BODY & FOOTER allowing deeply and easier configurations -->

    <body >

        <div class="bloque">

            <div class="carga" style="float: right; right: 50%;"></div>
            <div class="carga" style="float: left; left: 50%;"></div>

        </div>

        <!-- The "encabezado" class div acts like the TITLE section -->

        <div class="encabezado">

            <div class="titulo">

                Curriculum Vitae

            </div>

            <div class="linea"> </div>

            <br />

            <div class="subtitulo">

                Leonel Noé Betance González

            </div>

        </div>

        <br />

        <div class="barrido"></div>

        <!-- In this "CUERPO" section are every div with main content acting like the BODY part -->

        <div class="cuerpo">

            <!--

            <div class="subtitulo2"> Acerca de mi </div>

            <div class="cuadro">

                <img src="../static/imagenes/yo.jpg" class="foto" />

            </div>

            <br />

            -->

            <!-- The secuence alternates between the subtitle and the cards with content -->

            <div class="subtitulo2"> Desarrollo Web </div>

            <div class='tarjetas'>

                <!-- content right card -->

                <div class="cuadro_derecho">

                    <img src="../static/imagenes/CSS 3.png" class="logo" />

                    <div class="subtitulo2">Style Sheets</div>

                    <p>
                        <br />
                        (Hojas de estilo) <br /> 
                        Se utilizan a grandes rasgos para personalizar los colores,
                        tamaños, formas y organización de los formatos de una página Web.
                    </p>

                </div>

                <!-- content left card -->

                <div class="cuadro_izquierdo">

                    <img src="../static/imagenes/HTML 5.png" class="logo" />  

                    <div class="subtitulo2"> Hyper Text</div>

                    <p>
                        (Lenguaje de marcado de hipertexto) <br />
                        Lenguaje ampleamente usado en la generación de estructuras web, introducción
                        de archivos y exposición de medios en general. 
                    </p>                
                    
                </div>

                <div class="cuadro_derecho">

                    <img src="../static/imagenes/django 1.png" class="logo" />

                    <div class="subtitulo2"> Django</div>

                    <p>
                        <br />
                        (Framework para Python) <br />
                        Esta librería para el lenguaje de programación Python, engloba una variedad de herramientas y
                        facilidades para la construcción de servidores web o de aplicación profesionales, con capacidades
                        flexibles. 
                    </p>
                    

                </div>

                <div class="cuadro_izquierdo">

                    <img src="../static/imagenes/Java Script 1.png" class="logo" />
                    
                    <div class="subtitulo2"> Java Script</div>

                    <p>
                        Lenguaje de programación especializado en la respuesta inteligente ante la interfáz con el usuario.
                        Proporcionando una experiencia web más interactiva, con su culminación en el desarrollo de aplicaciones
                        web.
                    </p>

                    
                    
                </div>

            </div>

            <br />

            <div class="subtitulo2">
            
                Desarrollo multipropósito
            
            </div>

            <div class='tarjetas'>
            
                <div class="cuadro_derecho">

                    <img src="../static/imagenes/c.png" class="logo" />

                    <div class="subtitulo2"> Lenguaje C</div>

                    <p>
                        <br />
                        Lenguaje de programaión de alto nivel con capacidades de bajo nivel, sus caracteristicas le
                        permiten trabajar con los recursos primordiales de los sistemas computacionales, es útil para
                        aplicaciones que requieran manipulaciones minuciosas del sistema, o mas profundas de lo que
                        usualmente es necesario. 
                    </p>


                </div>

                <div class="cuadro_izquierdo">

                    <img src="../static/imagenes/python.png" class="logo" />

                    <div class="subtitulo2"> Python</div>


                    <p>
                        Lenguaje de programación práctico y flexible; sus librerias le permiten encontrar lugar en casi 
                        cualquier tipo de aplicación, ya sea web, base de datos o de escritorio. Los usos ingeniosos de 
                        proyectos cruzados son una posibilidad. 
                    </p>

                    
                    
                </div>

            </div>

            <br />

            <div class="subtitulo2">
            
               Ejemplos completos
            
            </div>

            <div class = 'tarjetas'>

                <a href = '../administrador/'>

                    <div class="cuadro_izquierdo">

                        <img src="../static/imagenes/logo01.jpg" class="logo" />

                        <div class="subtitulo2">01 Games</div>


                        <p>
                            01 GAMES, una página con tematica orientada al mundo del videojuego, conectada directamente a una base de datos,
                            esta configurada para trabajar como un blog, o página de noticias y novedades; támbien incluye un 
                            prototipo para chat anónimo global asíncrono, basado en la misma base de datos.
                        </p>
                        
                    </div>

                </a>

                <a href = '../lienzo/'>

                    <div class="cuadro_derecho">

                        <img src="../static/imagenes/lienzo.png" class="logo" />

                        <div class="subtitulo2">Lienzo</div>

                        <p>
                            Se trata de una aplicación web capaz de simular un lienzo en blanco para dibujar con todo el espectro RGB
                            en practicamente cualquier relación de aspecto, para más tarde, poder descargarla. Cuenta con múltiples
                            funciones y herramientas que le otorgan algo de vérsatilidad.
                        </p>
                        
                    </div>

                </a>

            </div>

        </div>

        <!-- Finaly this section acts like FOOTER, it is thinked to fit all the space with background and hold diverse notes  -->
            
        <div class="pie_pagina">

            <br />

            <div class="subtitulo">

                contacto:

            </div>

            <div>

                <br />
                <!--
                Celular: <br />
                 (+52) 648 - 122 - 90 - 54

                <br  -->

                <br />

                Correo Electronico: <br />
                roboticlnbg117@gmail.com

                <br />
                <br /> 

            </div>

        </div>

    </body>

    <script src="../static/js/reacciones.js"></script>

</html>